body{
  counter-reset: Serial;
}
.Priority_No:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
   content:counter(Serial); 
} 
.form-select{
    width: 219px;border: 2px solid black;height: 39px;margin-right: 2px;margin-top: 10px;border-radius: 6px;
  }
  .content{
    margin-left: 628px
  }
  .action{
    top: 11px !important;
  }
 
  #ul{
    padding-left: unset !important;
    margin: 0 0 7px -11px !important;
  }
  .fas{
    font-size: 25px !important;
  }
  .width{
    width: 1349px !important;
    text-align: center !important;
  }

  td{
text-align: center !important;
  }

.DeleteIcon{
  padding-left: 16px;
}

.edit{
  margin-top: 7px;
}
