body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: separate;
    border-spacing: 0 15px;
}

#ul{
    padding-left: unset !important;
}

.table td,.table th{
    padding: 12px 11px;
  border:0px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
    background-color: #aab3b9 !important;
	color:#000000;
    
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
.optionsDiv{
    /* margin-left: 709px; */
    margin-top: 9px;
}
/* .parent{
    display: flex;
} */
.gopi{
    width: 113px;
}

/* .date-wrapper{
    display: flex;
} */

/*responsive*/
#space{

margin-top:99px;
}
.hide{
    display: none !important;
}

@media(max-width: 500px){
	.table thead{
		display: none;
		color:aqua !important;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
		
	}
	.table tr{
		margin-bottom:15px;
        margin-top: 26px;
		
	}
    .optionsDiv{
        margin-top: 20px;
    }
	.table td{
		text-align: right;
		padding-left: 50% !important;
		text-align: right;
		position: relative;
	}
    
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50% !important;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
#tags{
    width: 172px;
    /* padding-top: 7px; */
    margin-top: 13px;
}

/* style.cxs */
/* #indi{
   
   
    color: #fff;
    padding: 4px 14px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;

    letter-spacing: 1px;
   
    
} */
/* .table1{
    height: 58px;
  
} */
/* .Navi{
    border: none!important;
    padding: 6px 14px!important;
    border-radius: 20px!important;
    background-color: #72899cbf!important;
} */
.Navi{
    border: none;
    padding: 6px 14px;
    border-radius: 20px;
    background-color: #369defbf;
    cursor: pointer;
      }
      .active, .Navi:hover {
        background-color: rgb(2, 36, 75);
        color: white;
      }
    .NotStarted{background: rgb(252, 113, 80) !important;
        color: #fff;
        padding: 4px 5px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;
   /* letter-spacing: 1px; */
    /* margin-left: 134px; */
} 

.True{
    background: rgb(113 227 60 / 85%) !important;
    border: 8px solid white !important;
    color: #fff;
    padding: 4px 13px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 57px;
    font-weight: 500;
    border-radius: 22px;
    letter-spacing: 1px;
    /* margin-left: 134px; */
}
.False{
    border: 8px solid white !important;
}
#Client{
    padding-left: 11px;
    width: 78px;
}
textarea{
    text-align: center !important;
}
#Txt{
    margin: -10px;
}
.fa-pencil-alt:hover {
    color:aqua !important;
}



.InProgress{
    background: rgb(81, 133, 252) !important;
    color: #fff;
    padding: 4px 10px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;
   /* letter-spacing: 1px; */
    /* margin-left: 134px;  */
}
.InReview{
    background: rgb(252, 174, 81) !important;
    color: #fff;
    padding: 4px 13px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;
   /* letter-spacing: 1px; */
    /* margin-left: 134px; */
}
.Completed{
    background: rgb(77, 215, 120) !important;
    color: #fff;
    padding: 4px 13px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;
   /* letter-spacing: 1px; */
    /* margin-left: 134px; */
}
.Cancelled{
    background: rgb(255, 91, 91) !important;
    color: #fff;
    padding: 4px 13px;
    outline: none;
    font-size: 14px;
    width: 111px;
    border: none;
    height: 40px;
    font-weight: 500;
    border-radius: 12px;
   /* letter-spacing: 1px; */
    /* margin-left: 134px; */
}




#edit{
    margin-top: 39px;
    border-radius: 5px;
    padding: 8px;
    border: none;
}
th {
    border-block: inherit !important;
    width: 150px !important;
    text-align: center !important;
    border: 8px solid white !important;
    padding: 5px !important;
   
 
}

/* button style */
/* #dspbtn{
height: 36px;
	border-color: rgb(252, 249, 249);
	border-style: none;
} */

/* input {
    position: relative;
    width: 150px; height: 20px;
    color: white;
}

input:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
} */
@media (min-width: 335px) {
    .Navi{
    padding: 6px 10px;
    }

}